aside {
  background-color: #ddeccb;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  aside {
    grid-area: 3/1/4/3;
    display: flex;
    justify-content: center;
    font-size: (calc(1rem + 1vw));
  }
}
